body {
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1 {
    font-size: 3rem;
    
}
label {
    display: block;
    border-top: 0.1rem solid #5e5959;
    width: 27rem;
    cursor:pointer;
}

.one{
    display: block;
    max-height: 0;
   background: url(image/4663625.jpg)no-repeat;
    height: 21rem;
    transition: 0.5s;
}
div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
img{
    transform: rotate(45deg);
}
label:hover img{
    transform: rotate(90deg);
    transition: 0.5s;
}
 label input:checked #image {
    
    transform: rotate(90deg);
    transition: 0.5s;
}

label:hover >.one,label:hover >.two,label:hover >.three{
    max-height:21rem ;
   transition: 0.5s;
  
}
input:checked +.one,input:checked +.two,input:checked +.three{
    max-height:21rem ;
    transition: 0.5s;
}
label:hover >.four{
    max-height:28rem ;
    transition: 0.5s;
}
input:checked +.four{
    max-height:28rem ;
    transition: 0.5s;
}
.two {
   display: block;
    max-height: 0;
    height: 21rem;
    background: url(image/jsmeme1.jpg) no-repeat;
    background-size: contain;
    transition: 0.5s;
}
input {
    display: none;
}
.three{
    display: block;
    max-height: 0;
    height: 21rem;
    background-size: contain;
    background: url(image/269f3708b5e22a1481c78707bfa14a36-2.gif) no-repeat;
    transition: 0.5s;
}
.four{
    display: block;
    max-height: 0;
    height: 28rem;
    background: url(image/E2_T5aTXtOs.jpg) no-repeat;
    background-size: contain;
    transition: 0.5s;
}




